<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Genres</title>
    <div th:replace="~{header-template :: books-link}"></div>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<h2>Genres</h2>
<table id="genres">
    <thead>
    <tr>
        <th>№</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="genre,rowStat : ${genres}">
        <td th:text="${rowStat.index + 1}"></td>
        <td th:text="${genre.name}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>